.footer {
    margin-top: 115px;
    padding: 93px 0 80px 0;
    background-color: #111111;
    &__menu {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
    }
    &__logo-block {
        width: 405px;
    }
    &__logo {
        font-weight: 400;
        font-size: 40px;
        line-height: 52px;
        a {
            color: #FFFFFF;
            user-select: none;
        }
    }
    &__contacts {
        font-weight: 400;
        font-size: 15px;
        line-height: 22px;
        color: rgba($color: #fff, $alpha: .6);
        margin-top: 27px;
    }
    &__block {
        width: 155px;
    }
    &__subtitle {
        margin: 19px 0;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        color: #FFFFFF;
    }
    &__list {
        list-style-type: none;
    }
    &__link {
        margin-bottom: 9px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #BABABA;
        transition: all 0.169s;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            color: #fff;
        }
    }
    &__copyright {
        text-decoration: line-through;
        text-align: center;
        margin-top: 40px;
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 0.3px;
        color: #BABABA;
        span {
            color: #FFFFFF;
        }
    }
}