.button {
    background-color: $main-color;
    padding: 11.5px 38px 13px 38px;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    line-height: 30px;
    border: 2px solid $main-color;
    transition: all 0.2s;
    height: 56px;
    display: inline-block;
    user-select: none;
    &_no-bg {
        background-color: unset;
    }
    &:hover {
        border: 2px solid $main-color;
        background-color: #fff;
        color: $main-color;
    }
    &:focus { 
        outline: none;
    }
    &:active {
        transition: all 0.1s;
        padding: 8.5px 35px 10px 35px;
        border: 5px solid $main-color;
    }
}