.title {
    color: #333;
    &_14 {
        font-size: 14px;
    }
    &_18 {
        font-size: 18px;
    }
    &_24 {
        font-size: 24px;
    }
    &_32 {
        font-size: 32px;
    }
    &_40 {
        font-size: 40px;
    }
}