.title {
    color: #333;
    &_14 {
        font-size: 14px;
        color: $main-color;
        letter-spacing: 2px;
        text-transform: uppercase;
        line-height: 15px;
        font-weight: 400;
    }
    &_18 {
        font-size: 18px;
        line-height: 28px;
        color: #222;
    }
    &_24 {
        font-size: 24px;
        line-height: 38px;
    }
    &_32 {
        font-size: 32px;           
        line-height: 38px;
    }
    &_40 {
        font-size: 40px;
    }
    &_center {
        text-align: center;
    }
}