@media (max-width: 565.98px) {
    .button {
        padding: 7.5px 30px 9px 30px;
        height: 48px;
        &_no-bg {
            background-color: unset;
        }
        &:active {
            transition: all 0.1s;
            padding: 4.5px 27px 6px 27px;
            border: 5px solid $main-color;
        }
    }
}